@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font-family: "Avenir Next forINTUIT", "Avenir Next", Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: var(--color-container-background-accent);
  color: var(--color-text-global);
  font-family: var(--app-font-family);
}
